USE [master]
GO
/****** Object:  Database [EKZAMEN1]    Script Date: 25.09.2025 12:07:40 ******/
CREATE DATABASE [EKZAMEN1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EKZAMEN1', FILENAME = N'D:\MSSQL14.SQLSERVER\MSSQL\DATA\EKZAMEN1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'EKZAMEN1_log', FILENAME = N'D:\MSSQL14.SQLSERVER\MSSQL\DATA\EKZAMEN1_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EKZAMEN1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EKZAMEN1]
GO
/****** Object:  Table [dbo].[material_type]    Script Date: 25.09.2025 12:07:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[material_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [nvarchar](100) NOT NULL,
	[overuse_percent] [decimal](4, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[type_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partner]    Script Date: 25.09.2025 12:07:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partner](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[partner_type] [nvarchar](10) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[director_name] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[phone] [nvarchar](20) NULL,
	[legal_address] [nvarchar](max) NULL,
	[inn] [nvarchar](12) NOT NULL,
	[rating] [tinyint] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[inn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partner_services]    Script Date: 25.09.2025 12:07:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partner_services](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[partner_id] [int] NOT NULL,
	[service_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[execution_date] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_materials]    Script Date: 25.09.2025 12:07:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_materials](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[service_id] [int] NOT NULL,
	[material_type_id] [int] NOT NULL,
	[norm_amount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_type]    Script Date: 25.09.2025 12:07:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [nvarchar](50) NOT NULL,
	[complexity_coefficient] [decimal](3, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[type_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[services]    Script Date: 25.09.2025 12:07:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[service_type_id] [int] NOT NULL,
	[service_code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[min_partner_price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[service_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[partner] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[partner_services]  WITH CHECK ADD  CONSTRAINT [FK_partner_services_partner] FOREIGN KEY([partner_id])
REFERENCES [dbo].[partner] ([id])
GO
ALTER TABLE [dbo].[partner_services] CHECK CONSTRAINT [FK_partner_services_partner]
GO
ALTER TABLE [dbo].[partner_services]  WITH CHECK ADD  CONSTRAINT [FK_partner_services_service] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[partner_services] CHECK CONSTRAINT [FK_partner_services_service]
GO
ALTER TABLE [dbo].[service_materials]  WITH CHECK ADD  CONSTRAINT [FK_service_materials_material_type] FOREIGN KEY([material_type_id])
REFERENCES [dbo].[material_type] ([id])
GO
ALTER TABLE [dbo].[service_materials] CHECK CONSTRAINT [FK_service_materials_material_type]
GO
ALTER TABLE [dbo].[service_materials]  WITH CHECK ADD  CONSTRAINT [FK_service_materials_service] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[service_materials] CHECK CONSTRAINT [FK_service_materials_service]
GO
ALTER TABLE [dbo].[services]  WITH CHECK ADD  CONSTRAINT [FK_services_service_type] FOREIGN KEY([service_type_id])
REFERENCES [dbo].[service_type] ([id])
GO
ALTER TABLE [dbo].[services] CHECK CONSTRAINT [FK_services_service_type]
GO
ALTER TABLE [dbo].[material_type]  WITH CHECK ADD CHECK  (([overuse_percent]>=(0) AND [overuse_percent]<=(1)))
GO
ALTER TABLE [dbo].[partner]  WITH CHECK ADD CHECK  (([partner_type]=N'ЗАО' OR [partner_type]=N'ООО' OR [partner_type]=N'ИП'))
GO
ALTER TABLE [dbo].[partner]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(10)))
GO
ALTER TABLE [dbo].[partner_services]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[service_materials]  WITH CHECK ADD CHECK  (([norm_amount]>(0)))
GO
ALTER TABLE [dbo].[service_type]  WITH CHECK ADD CHECK  (([complexity_coefficient]>(0)))
GO
ALTER TABLE [dbo].[services]  WITH CHECK ADD CHECK  (([min_partner_price]>=(0)))
GO
USE [master]
GO
